@charset "utf-8";
body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding: 0;
    margin: 0;
    color: #032b03;
    background: url(../images/bg.jpg) #f3e5d8 no-repeat top;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}
body, html {
    overflow-x: hidden;
}
.container {
    position: relative;
}
.container:after, .clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.spacer, .clear {
    height: 0;
    line-height: 0;
    clear: both;
    font-size: 0;
    display: block;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: normal;
}
h1 {
    font-size: 28px;
    margin: 0 0 15px;
}
h2 {
    font-size: 24px;
    margin: 0 0 15px;
}
h3 {
    font-size: 20px;
    margin: 0 0 12px;
}
h4 {
    font-size: 18px;
    margin: 0 0 12px;
}
h5 {
    font-size: 16px;
    margin: 0 0 10px;
}
h6 {
    font-size: 14px;
    margin: 0 0 10px;
}
ul, ol {
    margin-bottom: 10px;
    padding-left: 15px;
}
li {
    margin: 0 0 10px;
    padding: 0;
}
p {
    padding-bottom: 10px;
    margin: 0;
}
p:last-child {
    padding-bottom: 0;
}
label, span, strong {
    display: inline-block;
}
p label, p span, p strong {
    display: inline;
}
strong {
    font-weight: 700;
}
a {
    color: inherit;
    text-decoration: underline;
    border: none;
    outline: none;
    display: inline-block;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
a:hover, a:focus {
    color: #0047b3;
    text-decoration: none;
    outline: none;
}
a:focus {
    color: #0047b3;
}
img {
    border: none;
    outline: none;
    display: inline-block;
    max-width: 100%}
mark {
    background-color: #ff9;
    color: #fff;
    font-style: italic;
    font-weight: 700;
}
del {
    text-decoration: line-through;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 10px 0;
    padding: 0;
    border-top: 1px solid #d3d3d3;
}
table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%}
table th, table td {
    padding: 10px 12px;
    vertical-align: top;
    border: 1px solid #d3d3d3;
}
.section {
    width: 100%;
    padding: 100px 0;
    position: relative;
    
}
.section:before {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaushan Script', cursive;
    color: #de2828;
    font-weight: 700;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
.heading {
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;
    color: #de2828;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 25px;
    padding-bottom: 0px;
    position: relative;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.subheading {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #212020;
    margin-bottom: 10px;
    position: relative;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
.subheading span {
    font-weight: 300;
}
.heading:last-child, .subheading:last-child, .heading_tag:last-child {
    margin-bottom: 0;
}
.heading a, .subheading a {
    color: inherit;
    display: inline;
}
.heading a:hover, .heading a:focus, .subheading a:hover, .subheading a:focus, a:hover .heading, a:hover .subheading {
    color: #0047b3;
}
.ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #283a59;
    border-radius: 0;
    background-color: #ffff3b;
    width: 10px;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .5);
    background-color: #de2828;
}
.repro {
    bottom: 5px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10;
}
.repro audio {
    margin: 0 auto;
}
footer {
    background: #de2828;
    padding: 25px 0 80px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
.gallery-wrap a {
    background-color: #ff9;
    min-height: 290px;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.top_arrow {
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
}
.top_arrow a {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    padding-top: 7px;
    text-align: center;
    width: 40px;
    color: #fff;
    background-color: rgb(237 166 19);
    position: relative;
    z-index: 999;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 45%);
}
figure.groom {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 10px solid #de2828;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: 0 auto 30px;
}
figure.rituals {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 244px;
    margin: 0 auto;
    border: 8px solid rgba(0, 0, 0, .1);
    margin-bottom: 30px;
    overflow: hidden;
}
.timer {
    margin: 30px 0 50px;
    padding: 0;
}
.timer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.timer ul li {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-table;
    font-size: 22px;
    font-weight: 300;
    height: 180px;
    width: 180px;
    line-height: 20px;
    margin: 0 10px;
    padding-top: 35px;
    text-align: center;
    color: #032b03;
    background: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 65%);
}
.timer ul li span {
    font-size: 82px;
    font-weight: 900;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 90px;
}
.scrollup {
    position: fixed;
    bottom: 50px;
    right: 20px;
    height: 36px;
    width: 36px;
    z-index: 3;
    font-size: 20px;
    line-height: 36px;
    background: none;
    text-align: center;
    border-radius: 52px;
    border: 2px solid #eda613;
    padding: 0;
    color: #fff;
    background: #eda613;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    display: none;
}
.scrollup:hover {
    border: 2px solid #de2828;
    color: #fff;
    background: #de2828;
}
a.mob-toggle {
    position: fixed;
    z-index: 2;
    right: 15px;
    top: 14px;
    border: 2px solid #eda613;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    line-height: 36px;
    background-color: rgb(237 166 19);
}
.navmenu {
    background: #eda613;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -999999em;
    width: 250px;
    overflow: hidden;
    z-index: 99999;
    padding-top: 50px;
    transition: all 300ms linear 0s;
    -webkit-transform: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
}
.open.navmenu {
    left: 0;
}
.navmenu ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin: 0;
    padding: 0;
}
.navmenu ul li {
    margin: 0;
    padding: 0;
}
.navmenu li a {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #f7ebdd;
    letter-spacing: 1px;
}
.open .fa-bars:before {
    content: "\f00d"
}
.reception-wrap .sbox i {
    background: #bec38e;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 15px;
}
.reception-wrap {
    padding-top: 40px;
}
.reception-wrap li {
    margin-bottom: 40px;
}
.introduction h2 {
    font-size: 36px;
}
.introduction h2 span {
    font-size: 20px;
    color: #133713;
    font-family: 'DM Sans';
}
.mainimg img{
    max-width: 500px;
    margin: 0 auto 20px;
    border: 8px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    overflow: hidden;
}
.wed {
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-transform: capitalize;
    color: #de2828;
}
.bordersvg {
    position: absolute;
    top: -200px;
    right: 0;
    left: 0;
    z-index: 0;
}
.bordersvg.up {
    top: -100px;
}
.sbox{
    padding: 35px 15px;
}
@media only screen and (max-width:760px) {
    .timer ul li {
    font-size: 10px;
    font-weight: 300;
    height: 70px;
    width: 70px;
    margin: 0 2px;
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.timer ul li span {
    font-size: 30px;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 24px;
}
.wed {
    margin: 50px 0;
}
.heading:before {
    width: 100%}
.banner-line h2 {
    font-size: 28px;
}
.gallery-wrap a {
    min-height: unset;
}
.reception-wrap {
    padding-top: 0;
}
figure.rituals {
    margin-bottom: 10px;
}
.bordersvg {
    top: -75px;
}
.bordersvg.up {
    top: -10px;
}
.god {
    width: 230px;
    margin: 0 auto;
}
.rituals img{width: 100%;max-width: unset;}
.mainimg img{width: 300px;}
}
.hide{display: none !important;}
.note{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 35px;
}